:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --red: red;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./Aeonik-Light.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
  font-family: aeonik;
  font-weight: 800;
  src: url(/fonnts.com-Aeonik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
}

.elem {
  background-color: var(--tri1);
  border-radius: 20px;
  font-size: 30px;
  height: 400px;
  width: 330px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.149);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-weight: 500;
  font-size: 33px;
}

.elem:active {
  scale: 0.97;
}

/* FULL ELEMENTS */
.fullElem {
  height: 100%;
  width: 100%;
  background-color: #381c0a;
  padding: 40px;
  display: none;
  position: absolute;
}

/* back button */
.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 15px 22px;
  border: none;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 65px;
}
.todo-list-fullpage .todo-container {
  height: 80%;
  width: 1005;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form input#task-input {
  padding: 15px 20px;
  width: 100%;
  font-size: 28px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-weight: 500;
}
.todo-container .addTask form textarea {
  padding: 15px 20px;
  width: 100%;
  font-size: 28px;
  background-color: var(--pri);
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
    color: var(--sec);
  
}

.todo-container .addTask form button {
  padding: 15px 20px;
  width: 100%;
  font-size: 26px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-weight: 700;
  transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
  scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items:flex-start;
  gap: 5px;
}

.task h5 span{
  color: var(--pri);
  background-color:var(--red);
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true{
  opacity: 1;
}

.task h5 span.false{
  opacity: 0;
}

.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.task button:active {
  scale: 0.96;
}


/* CHECKBOX */
.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  gap: 25px;
}

.mark-imp input{
  scale: 1.7;
}

.mark-imp label{
  font-size: 20px;
}



/*////////////////// DAILY PLANER ////////*/

.daily-planner-fullpage{
  display: block;
}


.daily-planner-fullpage h2 {
    font-size: 70px;
}

.daily-planner-fullpage .day-planner {
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    webkitscrollbar-width: none; /* Firefox */
    scrollbar-width: none; /* Firefox */
}

.daily-planner-fullpage .day-planner .day-planner-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 12%;
    left: 2%;
    color: var(--tri1);
    font-size: 16px;
}

.day-planner .day-planner-time input {
    padding: 20px 45px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 35px;
    padding-top: 34px;
    outline: none;
}

/* commit */